@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main{

    padding: 10px 0px;
    justify-content: center;

    // max-width: 1024px;
    h1{
        text-align: center;
        color: #FAF9F6;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
    }

    
}
