.card{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 400px;
    text-align: center;

    h2{
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        color: #FAF9F6;
    }

    .card_image{
        text-align: center;
        width: 56px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }

    .currentDay{
        font-size: 44px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
    }

    .currentDate{
        font-size: 30px;
        font-weight: 500;
        text-align: center;

    }

    .city{
        color: #FAF9F6;
        font-size: 44px;
    }

    .temperature{
        text-align: center;
        color: #FAF9F6;
        font-size: 35px;
    }

    .description{
        text-align: center;
        color: #FAF9F6;
        font-size: 25px;
    }
}

.currentDay, .description, .temperature, .city{
    justify-content: center;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
    }
}

.cart2{
    display: flex;
    justify-content: space-around;
}
.cart1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}
